.card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid gray;
    padding: 0.5rem;
    margin: 0.5rem;
    justify-content: start;
    align-items: start;
}

.title {
    font-weight: 500;
}